body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o tema claro */
body.light-theme {
    background-color: #f4f4f9;
    color: #333;
}

.container.light-theme {
    background-color: #ffffff;
    color: #333;
}

/* Estilos para o tema escuro */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.container.dark-theme {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Estilos para o botão de alternância */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #007fc8;
}

.theme-toggle i {
    display: none;
}

.theme-toggle .fa-sun {
    display: block;
}

.dark-theme .theme-toggle .fa-sun {
    display: none;
}

.dark-theme .theme-toggle .fa-moon {
    display: block;
}

/* Estilos para o tema escuro */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.container.dark-theme {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

h1 {
    font-size: 28px;
    color: #333333; /* Cor padrão para o tema claro */
    text-align: center;
    margin-bottom: 20px;
}

body.dark-theme h1 {
    color: #ffffff; /* Cor para o tema escuro */
}


.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho total */
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 28px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

h1 i {
    color: #007fc8;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
}

label i {
    color: #007fc8;
    margin-right: 5px;
}

select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px; /* Ajustado para evitar zoom em dispositivos móveis */
    color: #333333;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho total */
}

select:focus, textarea:focus {
    border-color: #007fc8;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007fc8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #005fa3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.loading {
    display: none;
    text-align: center;
    font-size: 16px;
    color: #007fc8;
    margin-top: 20px;
}

#mensagem {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.mensagem-sucesso {
    color: #007fc8;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.mensagem-erro {
    color: #dc3545;
    font-weight: bold;
}

.anonimato-info {
    margin-top: 20px;
    font-size: 14px;
    color: #555555;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anonimato-info i {
    margin-right: 5px;
    color: #007fc8;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 90%;
        max-width: none;
    }

    h1 {
        font-size: 24px;
    }

    select, textarea, button {
        font-size: 16px; /* Ajustar para um tamanho adequado em dispositivos móveis */
    }
}

@media (min-width: 768px) {
    .container {
        padding: 30px;
    }
}
